/* --- HOME PAGE STYLE --- */

#home.page-content {
    background-color: var(--color-background); 
    position: relative; 
    
    /* Gunakan flex untuk menempatkan judul di atas background */
    display: flex;
    flex-direction: column; /* Konten disusun vertikal */
    justify-content: flex-start; /* Mulai dari atas */
    align-items: center;
    
    padding-top: 150px; /* Tambahkan ruang dari atas agar judul tidak tertutup header */
}

/* Styling untuk Judul Utama (RED DEAD REDEMPTION) */
.home-title-h1 {
    font-size: 7vw; /* Ukuran besar, responsif */
    line-height: 1;
    color: var(--color-text-light);
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9); /* Bayangan untuk efek tebal */
    z-index: 10; /* Pastikan di atas background */
    text-align: center;
    margin-bottom: 20px; /* Jarak dari background/gambar siluet */
}

.home-image {
    width: 100%;
    height: 100%; /* Mengisi penuh tinggi halaman */
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1; /* Di bawah judul */
    
    background-image: url('../media/READ DEAD REDEMPTION.png'); 
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover; 
}